@media (prefers-reduced-motion: no-preference) {

}

body {
  background-color: #282c34;
  color: white;
}

.App-header, .App-body {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App-header > h1 {
  font-size: calc(15px + 2vmin);
}

.App-body {
  max-height: 75vh;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.App-body::-webkit-scrollbar {
  width: 6px;
  background-color: #282c34;
}
.App-body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #b1b1b1;
}